{% extends "base.html" %}

{% block page_content %}

<div class="page-header">
    <h1>Book Form</h1>
    <p>Enter book details:   </p>
        <br>
            <form action="/document_detail" method="post">
                <input type="hidden" id="op" name="op" value="I">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_id">ID</span>
                    <input type="text" class="form-control" name="id_book" aria-label="Sizing example input" aria-describedby="inputGroup_id">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_name">title</span>
                    <input type="text" class="form-control" name="title" aria-label="Sizing example input" aria-describedby="inputGroup_title">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_lastName"># pages</span>
                    <input type="text" class="form-control" name="num_pages" aria-label="Sizing example input" aria-describedby="inputGroup_numPages">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_lastName">category</span>
                    <input type="text" class="form-control" name="category" aria-label="Sizing example input" aria-describedby="inputGroup_category">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_lastName">Authors</span>
                    <input type="text" class="form-control" name="authors" aria-label="Sizing example input" aria-describedby="inputGroup_category" placeholder="autor1,autor2..">
                </div>
                <br >
                <input class="btn btn-primary" type="submit" name="form" value="Submit" />
            </form>
</div>
{% endblock %}