{% extends "base.html" %}

{% block page_content %}

<h2>People</h2>
<a href="/person" class="btn btn-success float-right">Add New Person</a>

<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Edit | Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for line in value %}
    <tr>
        <th scope="row">{{line[0]}}</th>
        <td>{{line[1]}}</td>
        <td>{{line[2]}}</td>
        <td>
            <a href="/person_update/{{line[0]}}" class="btn btn-warning btn-xs">Edit</a>
            <a href="/person_delete/{{line[0]}}" class="btn btn-danger btn-xs" onclick=" confirm('Are You Sure To Delete ?')">Delete</a>
        </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% endblock %}