{% extends "base.html" %}

{% block page_content %}

<div class="page-header">
    <h1>Person Form</h1>
    <p>Enter your First Name and Last Name:   </p>
        <br>
            <form action="/person_detail" method="post">
                <input type="hidden" id="op" name="op" value="I">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_id">ID</span>
                    <input type="text" class="form-control" name="id_person" aria-label="Sizing example input" aria-describedby="inputGroup_idt">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_name">First name</span>
                    <input type="text" class="form-control" name="first_name" aria-label="Sizing example input" aria-describedby="inputGroup_name">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup_lastName">Last Name</span>
                    <input type="text" class="form-control" name="last_name" aria-label="Sizing example input" aria-describedby="inputGroup_lastName">
                </div>
                <br >
                <input class="btn btn-primary" type="submit" name="form" value="Submit" />
            </form>
</div>
{% endblock %}